{% extends 'core/base.htm' %}



{% block contant %}
<nav class="navbar navbar-expand-lg bg-danger navbar-dark">
  <a href="{% url 'home' %}" class="navbar-brand">Kalam school</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-darget="#myLink"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="myLink">
    <ul class="navbar-nav ml-auto menu mx-5">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link text-uppercase">home</a></li>
      <li class="nav-item"><a href="{% url 'academic' %}" class="nav-link text-uppercase">academic</a></li>
      <li class="nav-item"><a href="{% url 'admission' %}" class="nav-link text-uppercase">admission</a></li>
    </ul>
  </div>
</nav> 
<div class="container text-center mt-4">
    <i class="fas fa-book-open text-danger fa-10x"></i>
  </div>
  <div class="container">
    <p class="text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel vero, iste, eveniet tempora reprehenderit corrupti libero rerum molestiae omnis, enim itaque non veritatis. Consequuntur officia consequatur esse voluptatibus repellat placeat!
    </p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis enim et rem a nesciunt est vel, illum quas quia voluptatum tenetur aspernatur, deserunt eum hic sint labore minus temporibus veritatis placeat accusamus eaque. Enim illum sit velit, nulla in, iste vel nemo eveniet suscipit, labore nesciunt error veritatis deserunt itaque quia ab sapiente sequi exercitationem nostrum quas aliquam eligendi. Optio officia dolorum tempore culpa veritatis beatae excepturi consectetur adipisci, hic, perferendis placeat inventore tenetur quas vel expedita iste, in magni at rerum deleniti enim. Voluptate voluptatem delectus laboriosam id cumque? Similique rerum nulla ipsa consequuntur, nemo beatae perspiciatis molestias.</p>
    <p class="text-jstify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quisquam rem dolore tenetur ipsa, esse magni odit id illum adipisci dolorum deserunt ducimus incidunt facere enim maxime provident expedita voluptate Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati quae enim itaque voluptas sint cupiditate, nemo corrupti blanditiis. Itaque, pariatur!</p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis enim et rem a nesciunt est vel, illum quas quia voluptatum tenetur aspernatur, deserunt eum hic sint labore minus temporibus veritatis placeat accusamus eaque. Enim illum sit velit, nulla in, iste vel nemo eveniet suscipit, labore nesciunt error veritatis deserunt itaque quia ab sapiente sequi exercitationem nostrum quas aliquam eligendi. Optio officia dolorum tempore culpa veritatis beatae excepturi consectetur adipisci, hic, perferendis placeat inventore tenetur quas vel expedita iste, in magni at rerum deleniti enim. Voluptate voluptatem delectus laboriosam id cumque? Similique rerum nulla ipsa consequuntur, nemo beatae perspiciatis molestias.</p>
    <p class="text-jstify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quisquam rem dolore tenetur ipsa, esse magni odit id illum adipisci dolorum deserunt ducimus incidunt facere enim maxime provident expedita voluptate Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati quae enim itaque voluptas sint cupiditate, nemo corrupti blanditiis. Itaque, pariatur!</p>
    <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis enim et rem a nesciunt est vel, illum quas quia voluptatum tenetur aspernatur, deserunt eum hic sint labore minus temporibus veritatis placeat accusamus eaque. Enim illum sit velit, nulla in, iste vel nemo eveniet suscipit, labore nesciunt error veritatis deserunt itaque quia ab sapiente sequi exercitationem nostrum quas aliquam eligendi. Optio officia dolorum tempore culpa veritatis beatae excepturi consectetur adipisci, hic, perferendis placeat inventore tenetur quas vel expedita iste, in magni at rerum deleniti enim. Voluptate voluptatem delectus laboriosam id cumque? Similique rerum nulla ipsa consequuntur, nemo beatae perspiciatis molestias.</p>
    <p class="text-jstify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quisquam rem dolore tenetur ipsa, esse magni odit id illum adipisci dolorum deserunt ducimus incidunt facere enim maxime provident expedita voluptate Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati quae enim itaque voluptas sint cupiditate, nemo corrupti blanditiis. Itaque, pariatur!</p>
  </div>
  
{% endblock contant%}
