{% extends 'core/base.htm' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-warning border-bottom">CONTACT US</h2>
    <div class="row text-white mt-5">
        <p class="mx-auto text-white mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum placeat, laudantium facilis nisi, non officiis odit a dolore cumque, et necessitatibus repudiandae. Neque beatae soluta, officiis accusamus exercitationem obcaecati cum!
        </p>
        <div class="col-sm-9 mb-5">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputNmae">Name</label>
                        <input type="text" class="form-control" id="inputName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputNmae">Your Email</label>
                        <input type="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputsubmect">Your Subject</label>
                        <input type="text" class="form-control" id="inputSubject">
                    </div>
                    <div class="mb-3 form-group col-md-12">
                        <label for="inputSubject">Your Message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit">send</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x i-color"></i>
                    <p>Chennai, Tamilnadu, India</p>
                </li>
                <li>
                    <i class="fas fa-phone mt-4 fa-2x i-color"></i>
                    <p> +91 9090909090</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x i-color"></i>
                    <p>contact@email.com</p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}