{% extends 'core/base.htm' %}
{% load static %}
{% block content %} 
<div class="text-center mt-5">
    <img src="{% static 'cor/images/image1.jpg' %}" alt="profile pic" class="img-thumbnail" width="250px" height="150px">
</div> 
    <div>
        <div class="text-white mt-5 mx-5 text-justify">
            <h2 class="font-weight-bold st-font">Hello,</h2>
            <div>
                <p style="text-indent: 100px;"> I am<b class="text-warning"> Neha Singh</b> dolor sit amet consectetur adipisicing elit. Officia delectus magni inventore? Nam commodi impedit beatae maiores quos dicta nostrum, illum eaque non numquam ad esse voluptate, sint similique unde soluta qui, quas doloremque placeat quasi fuga dignissimos! Cumque unde eaque nihil, soluta velit adipisci ratione veritatis sint amet hic deleniti autem mollitia incidunt architecto labore fugit animi. Assumenda aliquid maiores nisi iste ad neque beatae culpa, quasi est cupiditate dolorem fugit perferendis at provident molestias. Fuga et eum earum est vero maxime repudiandae accusantium mollitia eius aspernatur, voluptates, magnam debitis amet sit magni aliquid a corporis assumenda quas dolor.</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius culpa possimus animi ex optio libero dolorem veritatis vitae corrupti ullam sed laborum recusandae officia, sit porro tempora doloremque provident architecto.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iure odit soluta sapiente, et explicabo placeat impedit tempore perferendis blanditiis asperiores nulla numquam vitae exercitationem molestias quam consequatur a sequi fugit ducimus eligendi. Quisquam earum facilis minus neque vitae odit laborum maiores magnam quo, nisi voluptas mollitia est, sunt officiis aut nesciunt corrupti culpa eius consequuntur praesentium ipsum provident consectetur quis. Itaque, ratione sapiente! Nisi aperiam illo harum tempora, repudiandae tempore repellat, quidem ipsam ipsa fugiat vitae nihil amet molestias.</p>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url 'contact' %}" class="btn btn-outline-danger my-3 mr-5">Hair me</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-success my-3 mr-5">contact me</a>
        </div>
    </div>
{% endblock content %}